body {
    background-color: lightskyblue;
    padding: 3em;
}

.card {
    width: 25%;
}

.image {
    display: block;
    width: 300px;
    border: 10px solid darkgray;
    align-self: center;
    margin-top: 1em;
    }
